body {
    margin: 0;
    background: darkblue
}

.container {
    display: flex;
    justify-content: space-around;
}

.category {
    width: 149px;
    height: 36px;
    left: 85px;
    top: 68px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    text-align: center;
    color: #EEEEEE;
     margin-bottom: 0px; 

}

.points {
    margin-top: 21px; 
    margin-bottom: 0px; 
    width: 155px;
    height: 120px;
    left: 82px;
    top: 125px;
    background: #080001;
    border-radius: 5px;

    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    text-align: center;
    color: #F94F6D;
}

.add {
    align-content: center;
    
    margin: 2.3px;
    margin-top: 26px; 
    width: 45px;
    height: 45px;
    left: 82px;
    top: 271px; 
    border: 2px solid #9AABD8;
    border-radius: 5px;
    

    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #9AABD8;
    background: none;
}